.navheader {
  width: 50%;
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  /* opacity: 0.149;   */
  border-radius: 16px;
  /* background-color: #dddddd56; */
  background-color: transparent;
  border: 0.5px solid #c5c5c5;
  color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 1rem;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: rgba(255, 255, 255, 0.709);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.videoBanner {
  position: absolute;
  z-index: 0; 
  background-size: 100% 100%;
  top: 0px;
  left: 0px; /* fixed to left. Replace it by right if you want.*/
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.ourStory {
  height: auto;
  background-color: black;
  width: 100%;
}

.Story {
  height: 800px;
  width: 80%;
  display: flex;
  align-items: center;
  margin: auto;
  float: center;
}

.Carousel {
  height: auto;
  background-color: black;
  width: 100%;
}
